window {
    margin: 0px;
    border: 3px solid #5e81ac;
    opacity: 0.9;
    border-radius: 0px;
    background-color: #3b4252;
    font-family: monospace;
    font-size: 18px;
}

#input {
    margin: 5px;
    border: 1px solid #eceff4;
    color: #eceff4;
    background-color: #3b4252;
}

#input image {
    color: #3b4252;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #3b4252;
}

#outer-box {
    margin: 5px;
    border: none;
    opacity: 0.9;
    background-color: #3b4252;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #eceff4;
} 

#entry:selected {
    background-color: #4c566a;
    font-weight: normal;
}

#text:selected {
    background-color: #4c566a;
    font-weight: normal;
}

