* {
    font-family: "Sarasa Term SC";
    font-size: 12pt;
    font-weight: bold;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

@keyframes blink_red {
    to {
        background-color: #bf616a;
        color: #2e3440;
    }
}

.warning, .critical, .urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

window#waybar {
    background-color: transparent;
}

window > box {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
    background-color: #3b4252;
}

#workspaces {
    padding-left: 0px;
    padding-right: 4px;
}

#workspaces button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    color: #e5e9f0;
}

#workspaces button.focused {
    background-color: #81a1c1;
    color: #2e3440;
}

#workspaces button.urgent {
    color: #2e3440;
}

#workspaces button:hover {
    background-color: #e5e9f0;
    color: #2e3440;
}

tooltip {
    background-color: #3b4252;
}

tooltip label {
    color: #e5e9f0;
}

#custom-launcher {
    padding-left: 15px;
    padding-right: 8px;
    color: #b48ead;
}

#mode, #clock, #bluetooth, #memory, #cpu, #mpd, #backlight, #wireplumber, #network, #battery, #custom-cava-internal {
    padding-left: 8px;
    padding-right: 8px;
}

#bluetooth {
    color: #81a1c1
}

#memory {
    color: #8fbcbb;
}

#cpu {
    color: #b48ead;
}

#clock {
    color: #e5e9f0;
}

#idle_inhibitor {
    color: #ebcb8b;
    padding-right: 5px;
}

#backlight {
    color: #d08770;
}

#wireplumber {
    color: #ebcb8b;
}

#network {
    color: #e5e9f0;
}

#battery.charging, #battery.full, #battery.discharging {
    color: #a3be8c;
}

#battery.critical:not(.charging) {
    color: #bf616a;
}

#custom-powermenu {
    color: #bf616a;
    padding-right: 15px;
    padding-left: 8px;
}

#tray {
    padding-right: 10px;
}

#mpd.paused {
    font-style: normal;
}

#mpd.stopped {
    background: transparent;
}

#mpd {
    color: #e5e9f0;
    font-style: italic;
}

#custom-cava-internal {
    color: #d8dee9;
}
