* {
    font-family: "monospace";
    font-size: 12pt;
    font-weight: bold;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
@keyframes blink_red {
    to {
        background-color: #bf616a;
        color: #d8dee9;
    }
}
.warning, .critical, .urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
window#waybar {
    background-color: transparent;
}
window > box {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#workspaces {
    padding-left: 0px;
    padding-right: 5px;
}
#workspaces button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #3b4252;
}
#workspaces button.focused {
    background-color: #5e81ac;
    color: #d8dee9;
}
#workspaces button.urgent {
    color: #bf616a;
}
#workspaces button:hover {
    background-color: #5e81ac;
    color: #3b4252;
}
tooltip {
    background: #3b4252;
}
tooltip label {
    color: #3b4252;
}
#custom-launcher {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 16px;
    color: #b48ead;
}
#mode, #clock, #memory, #cpu, #mpd, #backlight, #wireplumber, #battery, #custom-cava-internal, #tray {
    padding-left: 10px;
    padding-right: 10px;
    color: #3b4252;
}
#network {
    padding-left: 10px;
    padding-right: 5px;
}
#custom-powermenu {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 16px;
    color: #bf616a;
}
#idle_inhibitor {
    font-size: 16px;
    padding-right: 8px;
    padding-left: 10px;
    color: #3b4252;
}
#idle_inhibitor.activated {
    color: #5e81ac;
}
#tray menu {
    background: #d8dee9;
    color: #3b4252;
}
#mpd.playing {
    font-style: italic;
}
