* {
    font-family: "monospace";
    font-size: 12pt;
    font-weight: bold;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
@keyframes blink_red {
    to {
        background-color: #bf616a;
        color: #2e3440;
    }
}
.warning, .critical, .urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
window#waybar {
    background-color: transparent;
    opacity: 0.96;
}
window > box {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #3b4252;
}
#workspaces {
    padding-left: 0px;
    padding-right: 5px;
}
#workspaces button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #d8dee9;
}
#workspaces button.focused {
    background-color: #5e81ac;
    color: #d8dee9;
}
#workspaces button.urgent {
    color: #bf616a;
}
#workspaces button:hover {
    background-color: #81a1c1;
    color: #d8dee9;
}
tooltip {
    background: #3b4252;
}
tooltip label {
    color: #d8dee9;
}
#custom-launcher {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 16px;
    color: #b48ead;
}
#mode, #clock, #memory, #cpu, #mpd, #backlight, #wireplumber, #battery, #custom-powermenu, #custom-cava-internal {
    padding-left: 10px;
    padding-right: 10px;
}
#memory {
    color: #81a1c1;
}
#cpu {
    color: #b48ead;
}
#clock {
    color: #d8dee9;
}
#backlight {
    color: #a3be8c;
}
#wireplumber {
    color: #E9C98A;
}
#network {
    padding-left: 10px;
    padding-right: 5px;
    color: #99CC99;
}
#network.disconnected {
    color: #d8dee9;
}
#battery.charging, #battery.full, #battery.discharging {
    color: #d08770;
}
#battery.critical:not(.charging) {
    color: #d8dee9;
}
#custom-powermenu {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 16px;
    color: #bf616a;
}
#idle_inhibitor {
    font-size: 16px;
    padding-right: 8px;
    padding-left: 10px;
}
#idle_inhibitor.activated {
    color: #a3be8c;
}
#tray {
    padding-right: 10px;
    padding-left: 10px;
}
#tray menu {
    background: #3b4252;
    color: #d8dee9;
}
#mpd.playing {
    font-style: italic;
}
#mpd.paused {
    /* font-style: italic; */
}
#mpd.stopped {
    background: transparent;
}
#mpd {
    color: #d8dee9;
}
